<div class="d-flex justify-content-center align-items-center mt-4 mb-5 mx-4">
  <form
    [formGroup]="myForm"
    class="my-3 col-md-6"
    #countryForm="ngForm"
    (ngSubmit)="onSave(countryForm.value)"
  >
    <div class="row mt-5 mb-3 text-secondary">
      <h2>Agregar un país</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="my-2">
          <label for="countryName">País:</label>
          <input
            type="text"
            id="countryName"
            name="name"
            placeholder="Nombre del país"
            class="form-control shadow-none"
            formControlName="name"
            ngModel
            minlength="3"
            required
          />
          <div
            *ngIf="c.name.invalid && (c.name.dirty || c.name.touched)"
            class="text-danger"
          >
            <div *ngIf="c.name.errors?.['required']">
              Debes ingresar un país.
            </div>
            <div *ngIf="c.name.errors?.['minlength']">
              El país debe tener al menos 3 caracteres.
            </div>
          </div>
        </div>
        <div class="col-md-12 my-3">
          <label for="countryCapital">Capital:</label>
          <input
            type="text"
            id="countryCapital"
            name="capital"
            placeholder="Nombre de la capital"
            class="form-control shadow-none"
            formControlName="capital"
            ngModel
            minlength="3"
            required
          />
          <div
            *ngIf="c.capital.invalid && (c.capital.dirty || c.capital.touched)"
            class="text-danger"
          >
            <div *ngIf="c.capital.errors?.['required']">
              Debes ingresar su capital.
            </div>
            <div *ngIf="c.capital.errors?.['minlength']">
              La capital debe tener al menos 3 caracteres.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 my-3">
            <label for="countryType">Pertenece a:</label>
            <input
              type="text"
              id="countryType"
              name="type"
              placeholder="¿A qué parte de América pertenece?"
              class="form-control shadow-none"
              formControlName="type"
              ngModel
              minlength="3"
              required
            />
            <div
              *ngIf="c.type.invalid && (c.type.dirty || c.type.touched)"
              class="text-danger"
            >
              <div *ngIf="c.type.errors?.['required']">
                Debes ingresar a qué parte de América pertenece este país.
              </div>
            </div>
          </div>
          <div class="col-md-6 my-3">
            <label for="countryCurrency">Moneda:</label>
            <input
              type="text"
              id="countryCurrency"
              name="currency"
              placeholder="Nombre de la moneda"
              class="form-control shadow-none"
              formControlName="currency"
              ngModel
              minlength="3"
              required
            />
            <div
              *ngIf="
                c.currency.invalid && (c.currency.dirty || c.currency.touched)
              "
              class="text-danger"
            >
              <div *ngIf="c.currency.errors?.['required']">
                Debes ingresar la moneda.
              </div>
              <div *ngIf="c.currency.errors?.['minlength']">
                Debe tener al menos 3 caracteres.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 py-2">
        <label for="countryFlag">URL de la foto de la bandera:</label>
        <input
          type="text"
          id="countryFlag"
          name="flag"
          placeholder="Ingresa la URL"
          class="form-control shadow-none"
          formControlName="flag"
          ngModel
          minlength="3"
          required
        />
        <div
          *ngIf="c.flag.invalid && (c.flag.dirty || c.flag.touched)"
          class="text-danger"
        >
          <div *ngIf="c.flag.errors?.['required']">
            Debes ingresar el link de la foto.
          </div>
          <div *ngIf="c.flag.errors?.['minlength']">
            El link debe tener al menos 8 caracteres.
          </div>
        </div>
      </div>
      <div class="col-md-12 py-2">
        <label for="countryDescription">Descripción:</label>
        <textarea
          type="text"
          id="countryDescription"
          name="description"
          placeholder="Descripción del país"
          class="form-control shadow-none"
          formControlName="description"
          ngModel
          required
        ></textarea>
        <div
          *ngIf="
            c.description.invalid &&
            (c.description.dirty || c.description.touched)
          "
          class="text-danger"
        >
          <div *ngIf="c.description.errors?.['required']">
            Debes ingresar una descripción.
          </div>
          <div *ngIf="c.description.errors?.['minlength']">
            La descripción debe tener al menos 10 caracteres.
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-between mb-4">
      <div class="btn-group col-md-3 my-2 my-md-3">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="countryForm.invalid"
        >
          <span
            class="material-icons flex pr-3"
            style="vertical-align: top; padding-right: 10px"
            >save</span
          >Guardar
        </button>
      </div>
      <div class="btn-group col-md-3 my-2 my-md-3">
        <button type="button" class="btn btn-success" (click)="onGoBack()">
          <span
            class="material-icons flex pr-3"
            style="vertical-align: top; padding-right: 10px"
            >arrow_back</span
          >
          <span>Volver</span>
        </button>
      </div>
    </div>
  </form>
</div>
